# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
env/
ENV/
.venv/

# Environment Variables
.env

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Logs and Dumps
*.log
*.sqlite3
*.db

# Testing Artifacts
htmlcov/
coverage.*
.tox/
.nox/
.pytest_cache/

# Byte-compiled files
*.egg
*.egg-info/
dist/
build/

# Archives
*.zip
*.tar.gz
*.egg-info/

# Jupyter Notebooks (optional)
.ipynb_checkpoints/

# System Files
Thumbs.db
desktop.ini

# Bash scripts output (optional)
*.sh~

# VS Code project settings (optional)
*.code-workspace
